<div id="loading_div" class="loaderClass">
<img src="/img/ajax-loader.gif"><br>
</div>

<div class="zoomground-wrap" id="content_area_div" style="display:none">

<div class="zoomground"></div>

<div class="zoomground-logo-wrap">
<div class="zoomground-logo"><img class="image-responsive" src="/img/renolit-opening-logo.svg"></div>
<button  type="button" id="opening-button"><a class="page-scroll" href="#content-wrap">tovább</a></button>
</div>

</div>
<div class="container" id="content-wrap">
<div  id="content">
  <p id="welcome"><i class="fa fa-quote-left fa-1x"></i> Mi a Renolitnál muvészetként tekintünk az építési folyamatokra. Hisszük hogy a telek a vásznat, partnereink pedig a muvész képzeletét biztosítják számunkra. Mi vagyunk a kéz Ön számára, hogy álmai vászonra kerüljenek, és valósággá váljanak. <i class="fa fa-quote-right fa-1x"></i></p>
</div>
</div>