<footer>
	<div class="row">
	<div class="container" id="footer">
	<div class="row" id="footer-content" >
	<div class="col-xs-12 col-sm-4 col-md-4"><h3>Impresszum</h3><p>A portál szerkesztését és karbantartását Marton Attila végzi a www.Renolit-Nova.hu megbízásából.</p></div>
	<div class="col-xs-12 col-sm-4 col-md-4"><h3>Adatvédelem</h3><p>A Renolit-Nova oldal számára kiemelt fontosságú látogatói által rendelkezésre bocsátott személyes adatok védelme, a látogatók információs önrendelkezési jogának biztosítása. Cégünk elkötelezi magát a látogatók személyes adatainak oly módon történő kezelése mellett, amely a vonatkozó hatályos jogszabályoknak teljes körűen eleget téve járul hozzá a látogatók biztonságos internetezési lehetőségeinek megteremtéséhez</p></div>
	<div class="col-xs-12 col-sm-4 col-md-4"><h3>Kapcsolat</h3>
	      <ul class="list-unstyled">
                           				<li> 
							<table>
	<tr><td><i class="fa fa-map-marker fa-lg"></i></td><td>Marton Attila</td></tr>
	
	
                        <tr><td style="padding-top:10px;"><i class="fa fa-envelope-o fa-lg"></i></td><td style="padding-top:10px;"><a href="mailto:renolit.nova@gmail.com"> renolit.nova@gmail.com</a></td></tr>
			
	<tr><td style="padding-top:10px;"><i class="fa fa-phone fa-lg"></i></td><td style="padding-top:10px;">+36 70 420-2156</td></tr>
	<tr><td style="padding-top:10px;"><i class="fa fa-facebook fa-lg"></i></td><td style="padding-top:10px;"><p>kérdéseit felteheti facebookon is: </br><a href="https://www.facebook.com/renolit-nova" target="_blank">renolit nova</a></p></td></tr>
	</table>
                      </li>   </ul>
	</div>
	</div>
	</div>
	</div>
	</footer>